*{
    box-sizing: border-box;
    margin: 0;
}


div h1,h2,p{
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
}


body{
    background-image: url(background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}


.box{
    margin: auto;
    width: 1200px;
    height: 810px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
}


.container{
    margin-left: 95px;
    margin-right: 95px;
    padding-top: 58px;
}


/* Logo e Titolo */


header{
    margin: auto;
    text-align: center;
}


.logo{
    width: 230px;
    margin-top: 10px;
}


h1{
    margin-left: 15px;
    color: rgb(0,221,0);
}


/* Bottoni */


nav{
    height: 45px;
    background-color: rgb(0,221,0);
}


#button{
    text-align: center;
    padding-top: 12px;
}


/* Checkbox e Testo */


main{
    color: white;
}


section{
    margin-top: 20px;
}


.checkbox-testo{
    display: flex;
}


h2{
    margin-left: 8px;
    margin-bottom: 5px;
}


#hr1{
    width: 355px;
    height: 30px;
    background-color: rgb(245,180,83);
    border: 0;
    border-radius: 5px;
}


#hr2{
    width: 600px;
    height: 30px;
    background-color: rgb(30,195,30);
    border: 0;
    border-radius: 5px;
}


#hr3{
    width: 150px;
    height: 30px;
    background-color: rgb(190,65,65);
    border: 0;
    border-radius: 5px;
}